# Dependências do Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários e miniaturas
.thumbnail
Thumbs.db
.DS_Store

# Logs
*.log

# Anotações pessoais / Temporários
sobremim.md
uploads/
